<h1>TALK2ME</h1>

<form action="/message" method="post">
  Message: <input type="text" name="message">
  <input type="submit" value="Send">
</form>

<% @messages.reverse.each do |message| %>
<br>
<%= message.text %> -- <%= message.time %>
<%end%>
<br />
<%#<img class="irc_mi" src="https://thumbs.gfycat.com/UniqueSafeIndianringneckparakeet-max-1mb.gif" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="240" height="138" style="margin-top: 108px;" alt="Related image">
<img class="irc_mi" src="https://media.giphy.com/media/24qpFnJ04vk2I/giphy.gif" alt="Image result for gif on the phone funny" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="304" height="133" style="margin-top: 110px;">
<img class="irc_mi" src="https://cdn.vox-cdn.com/uploads/chorus_asset/file/12430179/p14.0.gif" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="250" height="185" style="margin-top: 84px;" alt="Image result for gif on the phone funny">
