<h1>TALK2ME</h1>

<form action="/message" method="post">
  Message: <input type="text" name="message">
  <input type="submit" value="Send">
</form>

<% @messages.reverse.each do |message| %>
  <br>
  <%= message.id %> <a href = "/full_message/<%= message.id %>"><%= message.twenty_chars %></a> -- <%= message.created_at %>
<%end%>
<br />
<img class="irc_mi" src="https://thumbs.gfycat.com/UniqueSafeIndianringneckparakeet-max-1mb.gif" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="240" height="138" style="margin-top: 108px;" alt="Related image">
